
<%- include('../partials/admin/nav.ejs') %>


<section class="accountForm">
    <h1>Create Customer Account</h1>
    <form action="/admin/createAccount" enctype="multipart/form-data" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="firstname" name="username">
            <label for="Enter firstname">firstname</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Middlename" name="middlename">
            <label for="floatingInput">Middlename</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Lastname" name="lastname">
            <label for="floatingInput">Lastname</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="Phone Number" name="phone">
            <label for="floatingInput">mobile</label>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" placeholder="Date of Birth" name="date">
            <label for="floatingInput">Date of birth</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="email" name="email">
            <label for="floatingInput">email</label>
          </div>

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>

          <div class="form-floating mb-3 gender">
            <strong>gender  :</strong>
            Male  <input type="radio"  id="floatingInput" placeholder="Phone Number" name="gender" value="male">
            Female <input type="radio"  id="floatingInput" placeholder="Phone Number" name="gender" value="female">
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="occupation" name="occupation">
            <label for="floatingInput">occupation</label>
          </div>

          <h2 class="caption">ADDRESS</h2>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="address" name="address">
            <label for="floatingInput">Address</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="nation" name="nationality">
            <label for="floatingInput">nationality</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="state" name="state">
            <label for="floatingInput">state</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="landmark" name="landmark">
            <label for="floatingInput">landmark</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="Inital Desposit" name="depoist">
            <label for="floatingInput">Deposit</label>
          </div>

          <h2 class="caption">Next of Kin</h2>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="kinName">
            <label for="Enter firstname">Name</label>
          </div>
         
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="relationship" name="relationship">
            <label for="Enter firstname">relationship</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="Phone Number" name="kinPhone">
            <label for="floatingInput">Phone Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="address" name="kinaddress">
            <label for="Enter firstname">Address</label>
          </div>
          <h2></h2>
        <button type="submit" class="btn btn-outline-primary btn-lg">Create Account</button>
      </form>
</section>
</div>
</main>

</section>

<%- include('../partials/admin/modal.ejs') %>

<%- include('../partials/admin/footer.ejs') %>

