
	<script>
		var progressBar = document.getElementById("progressBar");
		var progressBarWrapper = document.getElementById("progressBarWrapper");
		var content = document.getElementById("content");

		// Start the progress bar at 0%
		progressBar.style.width = "0%";

		// Set a timeout to simulate the progress
		setTimeout(function() {
		// When the progress is complete, show the content and hide the progress bar
		progressBarWrapper.style.display = "none";
		content.style.display = "block";
		}, 6000);

		// Update the progress bar every 100ms
		var interval = setInterval(function() {
		// Increase the progress bar by 1% every 100ms
		progressBar.style.width = parseInt(progressBar.style.width) + 1 + "%";
		// Update the text inside the progress bar to show the current progress
		progressBar.innerText = progressBar.style.width;
		// When the progress bar reaches 100%, clear the interval
		if (progressBar.style.width === "100%") {
			clearInterval(interval);
		}
		}, 50);


	</script>
    <script>
		// Set timeout function to simulate preloader
		setTimeout(function() {
			document.getElementById("preloader").style.display = "none";
			document.getElementById("main-content").style.display = "block";
		}, 5000);
	</script>

<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  
</script>
</body>
</html>