
    <script>
		// Set timeout function to simulate preloader
		setTimeout(function() {
			document.getElementById("preloader").style.display = "none";
			document.getElementById("content").style.display = "block";
		}, 7000);

		// Update progress bar with progressive percentage
		var progressBarFill = document.getElementById("progress-bar-fill");
		var progressBarText = document.getElementById("progress-bar-text");
		var percentage = 0;
		var interval = setInterval(function() {
			if (percentage < 100) {
				percentage++;
				progressBarFill.style.width = percentage + "%";
				progressBarText.innerHTML = percentage + "%";
			} else {
				clearInterval(interval);
			}
		}, 50);
	</script>

<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  
</script>
</body>
</html>