 <!-- FOOTER -->

 <footer class="">
    <section>
        <section>
            <img class="navbar-brand" src="/images/metrologo.PNG">
          <p>Metro Finance Bank Investment Bank was born from one simple idea – a local bank serving international needs. In March 1865, Utopia International Investment Bank opened its doors...</p>
        </section>

      <section>
          <h3>Sell</h3>
          <p>Learn to Sell</p>
          <p>Affiliates</p>
          <section class="subSection">
              <h2>Tools & apps</h2>
              <p>Developers</p>
              <p>Security center</p>
              <p>Site map</p>
          </section>
      </section>

      <section>
          <h3>Stay Connected</h3>
          <p>FaceBook</p>
          <p>Twitter</p>
          <p>Linkedin</p>
      </section>

      <section>
          <h3>About Metro Finance Bank</h3>
          <p>Company info</p>
          <p>News</p> 
          <p>Investors</p>
          <p>Careers</p>
          <p>Government relations</p>
          <p>Advertise with us</p>
          <p>Policies</p>
          <p> Verified Rights Owner (VeRO) Program</p>
      </section>

      <section>
          <h3>Help & Contact</h3>
          <p>Seller Information Center</p>
          <p>Contact us</p> 
          <section class="subSection">
              <h2>Community</h2>
              <p>Announcements</p>
              <p>Discussion boards</p>
              <p>Metro Finance Bank Giving Works</p>
          </section>
      </section>
    </section>
    <p class="text-center">&copy; 2023 Metro Finance Bank</p>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>