<section class="container insuranceSection">
    <span>Our Insurance</span>
    <h2>Types of Insurance we Offer</h2>
    <p>You can't always predict what's going to happen in the future. But you can protect your family and
       your belongings should something go wrong. Insurance can give you peace of
      mind that whatever happens you won't be left out of pocket.
    </p>
    <section class="subInsurance">
      <section>
        <div>
          <i class="fa-regular fa-handshake fontIcon"></i>
        </div>
        <h3>Pet Insurance</h3>
        <p>Protect your cat or dog with a great value Pet Insurance policy from M & S Bank</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
      </section>
      <section>
        <div>
          <i class="fa-solid fa-house-tsunami fontIcon"></i>
        </div>
        <span class="flaticon-insurance"></span>
        <h3>Home Insurance</h3>
        <p>Choose between different levels of cover for your home and contents.</p>
        <a href="insurance.html">
        </a>
      </section>
      <section>
       <div>
        <i class="fa-solid fa-people-carry-box fontIcon"></i>
       </div>
        <h3>Business Insurance</h3>
        <p>Policies designed to offer dedicated protection for your type of business.</p>
        <a href="insurance.html">
        </a>
      </section>
      <section>
        <div>
          <i class="fa-solid fa-graduation-cap fontIcon"></i>
        </div>
        <h3>Student Insurance</h3>
        <p>Let us protect the things you love while you enjoy life at university worry-free. Cover starts from just £25 a year.</p>
        <a href="insurance.html">
        </a>
      </section>
      <section>
        <div>
          <i class="fa-solid fa-bed-pulse fontIcon"></i>
        </div>
        <h3>Health Insurance</h3>
        <p>At Finance Reliance we are always there for you, with our team on board</p>
        <a href="insurance.html">
        </a>
      </section>
      <section>
        <div>
          <i class="fa-solid fa-globe fontIcon"></i>
        </div>
        <h3>Life Insurance</h3>
        <p>Finance Reliance Bank Life Insurance helps ensure your loved ones are financially protected if the unexpected happens.</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
      </section>

    </section>
        
  </section>