<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Orbitron:wght@500&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Orbitron:wght@500&family=Oswald:wght@300&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/css/style.css">
    <title> <%= title %></title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top">
            <div class="container-fluid navflex">
              <img class="navbar-brand" href="/" src="/images/logo.PNG">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Investing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Loan</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Insurance</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Saving</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <a href="" class="btn btn-outline-info internetButton">Internet Banking</a>
              </div>
              
              
            </div>
          </nav>
    </header>

    <!-- 
      ************************************************************************************************
      CAROUSEL
      ************************************************************************************************
    -->


<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">

      <div class="carousel-item active laptopCarousel">
        <!-- <img src="/images/online3.jpg" alt="Los Angeles" class="d-block w-100"> -->
        <section>
            <p class="heroText">Life service from Finance Reliance</p>
            <h1 class="heroText">Open a bank with us today for your family</h1>
            <p  class="heroText">We support family loans and insurance, making it possible for you to have a healthy family. Get started with us today.</p>
        </section>
        <a href="" class="btn btn-outline-info contactButton btn-lg">Contact Us</a>
      </div>

      <div class="carousel-item familyCarousel">
        <section>
            <span>Helping you have fun</span>
            <h1>Get a holiday savings from us today</h1>
            <p>You will enjoy more benefit with our saving plan, while don't you open a saving account to get started</p>
        </section>
      </div>
    </div>


  <!-- SERVICE SECTION -->

  <section class="services container">
    <h2>Be part of something big</h2>
    <p>Help us build a closer, kinder, more connected country with the together partnership.</p>
    <section class="serviceFlex">
      <section>
        <img src="/images/image7.jpg" alt="">
        <h3>Financial assistance </h3>
        <p>See the support packages we’ve introduced to help those struggling.</p>
      </section>
      <section>
        <img src="/images/mortage.jpg" alt="">
        <h3>Mortgages</h3>
        <p>Find one that’s right for your needs and circumstances.</p>
      </section>
      <section>
        <img src="/images/image8.jpg" alt="">
        <h3>Savings accounts</h3>
        <p>See how we could help your money work harder for you.</p>
      </section>
    </section>

  </section>


  <!-- ABOUT US SECTION -->

    <section class="aboutUs">
        <div class="container aboutUsFlex">
          <div>
            <span>About Us</span>
            <h2>We are Committed to Help Our Customers Reach Their Goals</h2>
            <p>Finance Reliance Bank is one of the world’s largest banking and financial services organisations. We serve more than 40 million customers through our global businesses: Wealth and Personal Banking, Commercial Banking, and Global Banking and Markets.
            Our network covers 64 countries and territories in Europe, Asia, the Middle East and Africa, North America and Latin America.</p>
            <p>We aim to be where the growth is, connecting customers to opportunities, enabling businesses to thrive and economies to prosper,
            and ultimately helping people to fulfil their hopes and realise their ambitions.</p>
            <a href="about.html" class="btn btn-outline-info btn-lg">
            Read More
            </a>
        </div>
        <div class="aboutUsImage">
          <img src="/images/online7.jpg" alt="Image">
        </div>
        
     
      </div>
      </section>


      <!-- INSURANCE SECTION -->

      <section class="container insuranceSection">
        <span>Our Insurance</span>
        <h2>Types of Insurance we Offer</h2>
        <p>You can't always predict what's going to happen in the future. But you can protect your family and
           your belongings should something go wrong. Insurance can give you peace of
          mind that whatever happens you won't be left out of pocket.
        </p>
        <section class="subInsurance">
          <section>
            <div>
              <i class="fa-regular fa-handshake fontIcon"></i>
            </div>
            <h3>Pet Insurance</h3>
            <p>Protect your cat or dog with a great value Pet Insurance policy from M & S Bank</p>
            <a href="insurance.html">
            <i class="flaticon-right"></i>
            </a>
          </section>
          <section>
            <div>
              <i class="fa-solid fa-house-tsunami fontIcon"></i>
            </div>
            <span class="flaticon-insurance"></span>
            <h3>Home Insurance</h3>
            <p>Choose between different levels of cover for your home and contents.</p>
            <a href="insurance.html">
            </a>
          </section>
          <section>
           <div>
            <i class="fa-solid fa-people-carry-box fontIcon"></i>
           </div>
            <h3>Business Insurance</h3>
            <p>Policies designed to offer dedicated protection for your type of business.</p>
            <a href="insurance.html">
            </a>
          </section>
          <section>
            <div>
              <i class="fa-solid fa-graduation-cap fontIcon"></i>
            </div>
            <h3>Student Insurance</h3>
            <p>Let us protect the things you love while you enjoy life at university worry-free. Cover starts from just £25 a year.</p>
            <a href="insurance.html">
            </a>
          </section>
          <section>
            <div>
              <i class="fa-solid fa-bed-pulse fontIcon"></i>
            </div>
            <h3>Health Insurance</h3>
            <p>At Finance Reliance we are always there for you, with our team on board</p>
            <a href="insurance.html">
            </a>
          </section>
          <section>
            <div>
              <i class="fa-solid fa-globe fontIcon"></i>
            </div>
            <h3>Life Insurance</h3>
            <p>Finance Reliance Bank Life Insurance helps ensure your loved ones are financially protected if the unexpected happens.</p>
            <a href="insurance.html">
            <i class="flaticon-right"></i>
            </a>
          </section>
    
        </section>
            
      </section>

      <!-- DISPLAY SECTION BEFORE FOOTER -->

        <section class=" container futureSection">
            <img src="/images/future2.jpg" alt="" id="FutureImg">
            <div>
              <h2>Invest in your future</h2>
              <p> Wherever you are today, we could help you create a better tomorrow</p>
              </p>
            </div>
        </section>
        
  

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,160L48,160C96,160,192,160,288,186.7C384,213,480,267,576,282.7C672,299,768,277,864,245.3C960,213,1056,171,1152,160C1248,149,1344,171,1392,181.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>


    




    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>