<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Orbitron:wght@500&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Orbitron:wght@500&family=Oswald:wght@300&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    <title> <%= title %></title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top">
            <div class="container-fluid navflex">
              <img class="navbar-brand" href="/" src="/images/logo.PNG">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Investing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Loan</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Insurance</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Saving</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <a href="" class="btn btn-outline-info internetButton">Internet Banking</a>
              </div>
              
              
            </div>
          </nav>
    </header>

    <!-- 
      ************************************************************************************************
      CAROUSEL
      ************************************************************************************************
    -->


<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="/images/online3.jpg" alt="Los Angeles" class="d-block w-100">
        <section>
            <p class="heroText">Life service from Finance Reliance</p>
            <h1 class="heroText">Open a bank with us today for your family</h1>
            <p  class="heroText">We support family loans and insurance, making it possible for you to have a healthy family. Get started with us today.</p>
        </section>
        <a href="" class="btn btn-primary contactButton btn-lg">Contact Us</a>
      </div>

      <div class="carousel-item">
        <img src="/images/online6.jpg" alt="Chicago" class="d-block w-100">
        <section>
            <span>Helping you have fun</span>
            <h1>Get a holiday savings from us today</h1>
            <p>You will enjoy more benefit with our saving plan, while don't you open a saving account to get started</p>
        </section>
      </div>
    </div>


  <!-- SERVICE SECTION -->

  <section class="services">
    <div class="container">
    <div class="section-title">
    <h2>Be part of something big</h2>
    <p>Help us build a closer, kinder, more connected country with the together partnership.</p>
    </div>
    <div class="row">
    <div class="col-lg-4 col-sm-6">
    <h3>Financial assistance </h3>
    <p>See the support packages we’ve introduced to help those struggling.</p>
    <a href="#">
    <i class="flaticon-right"></i>
    </a>
    </div>
    <div class="col-lg-4 col-sm-6">
    <h3>Mortgages</h3>
    <p>Find one that’s right for your needs and circumstances.</p>
    <a href="insurance.html">
    <i class="flaticon-right"></i>
    </a>
    </div>
    <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
    <h3>Savings accounts</h3>
    <p>See how we could help your money work harder for you.</p>
    <a href="savings.html">
    <i class="flaticon-right"></i>
    </a>
    </div>
    </div>
    </div>
    </div>
    </section>


    <section class="about-area about-area-three ptb-100">
      <div class="container">
      <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
      <div class="about-content">
      <span>About Us</span>
      <h2>We are Committed to Help Our Customers Reach Their Goals</h2>
      <p>Finance Reliance Bank is one of the world’s largest banking and financial services organisations. We serve more than 40 million customers through our global businesses: Wealth and Personal Banking, Commercial Banking, and Global Banking and Markets.
      Our network covers 64 countries and territories in Europe, Asia, the Middle East and Africa, North America and Latin America.</p>
      <p>We aim to be where the growth is, connecting customers to opportunities, enabling businesses to thrive and economies to prosper,
      and ultimately helping people to fulfil their hopes and realise their ambitions.</p>
      <a href="about.html" class="default-btn">
      Read More
      </a>
      </div>
      </div>
      <div class="col-lg-6 col-md-6">
      <div class="about-img-3 wow fadeInRight" data-wow-delay=".2s">
      <img src="files\theme\assets\img\about-img-5.jpg" alt="Image">
      </div>
      </div>
      </div>
      </div>
      </section>

      <section class="services-area-three pt-100 pb-70">
        <div class="container">
        <div class="section-title">
        <span>Our Insurance</span>
        <h2>Types of Insurance we Offer</h2>
        <p>You can't always predict what's going to happen in the future. But you can protect your family and
        your belongings should something go wrong. Insurance can give you peace of
        mind that whatever happens you won't be left out of pocket.</p>
        </div>
        <div class="row">
        <div class="col-lg-4">
        <div class="single-choose wow fadeInLeft" data-wow-delay=".3s">
        <span class="flaticon-hand"></span>
        <h3>Pet Insurance</h3>
        <p>Protect your cat or dog with a great value Pet Insurance policy from M & S Bank</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="single-choose wow fadeInLeft" data-wow-delay=".2s">
        <span class="flaticon-insurance"></span>
        <h3>Home Insurance</h3>
        <p>Choose between different levels of cover for your home and contents.</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="single-choose wow fadeInLeft" data-wow-delay=".1s">
        <span class="flaticon-salesman"></span>
        <h3>Business Insurance</h3>
        <p>Policies designed to offer dedicated protection for your type of business.</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="single-choose wow fadeInRight" data-wow-delay=".1s">
        <span class="flaticon-insurance-1"></span>
        <h3>Student Insurance</h3>
        <p>Let us protect the things you love while you enjoy life at university worry-free. Cover starts from just £25 a year.</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="single-choose wow fadeInRight" data-wow-delay=".2s">
        <span class="flaticon-life-insurance"></span>
        <h3>Health Insurance</h3>
        <p>At Finance Reliance we are always there for you, with our team on board</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="single-choose wow fadeInRight" data-wow-delay=".3s">
        <span class="flaticon-travel-insurance"></span>
        <h3>Life Insurance</h3>
        <p>Finance Reliance Bank Life Insurance helps ensure your loved ones are financially protected if the unexpected happens.</p>
        <a href="insurance.html">
        <i class="flaticon-right"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </section>


        
  <section class="business-contact-area pt-4 pb-4">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 p-0">
    <div class="business-img">
    <img src="files\theme\assets\img\business-img-2.jpg" alt="Image">
    </div>
    </div>
    <div class="col-lg-6 p-0">
    <div class="business-content">
    <h3>Invest in your future</h3><br>
    <p>Wherever you are today, we could help you create a better tomorrow</p>
    </div>
    </div>
    </div>
    </div>
    </section>


    <footer class="footer-top-area pt-100 pb-70">
      <div class="container">
      <div class="row">
      <div class="col-lg-3 col-md-6">
      <div class="single-widget">
      <a href="index.html">
      <img src="files\theme\assets\img\home-one-logo.png" alt="Image">
      </a>
      <p>Finance Reliance Investment Bank was born from one simple idea – a local bank serving international needs. In March 1865,
      Finance Reliance Investment Bank opened its doors...</p>
      <div class="social-area">
      <ul>
      <li>
      <a href="#"><i class="bx bxl-facebook"></i></a>
      </li>
      <li>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      </li>
      <li>
      <a href="#"><i class="bx bxl-linkedin"></i></a>
      </li>
      <li>
      <a href="#"><i class="bx bxl-youtube"></i></a>
      </li>
      <li>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      </li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="single-widget contact">
      <h3>Contact Us</h3>
      <ul>
      <li class="pl-0">
      <a href="#">
      <i class="flaticon-call"></i>
      <span>Hotline:</span>
      Phone:
      +10  630 704</a>
      </li>
      <li class="pl-0">
      <a href="#">
      <i class="flaticon-email"></i>
      <span>Email:</span>
      <!--<span class="__cf_email__" data-cfemail="2a43444c456a49435e43504f4459494b5a435e4b464f4e4d4f04494547">[email&#160;protected]</span> </a>-->
      <span class="__cf_email__" >info@royalunion.icu</span> </a>
      </li>
      <li>
      <i class="flaticon-maps-and-flags"></i>
      <span>Address:</span>
      PO Box: Ermyn Way, Leatherhead KT24 6UX United Kingdom.</ul>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="single-widget">
      <h3> Company</h3>
      <ul>
      <li>
      <a href="about.html">
      About us
      </a>
      </li>
      <li>
      <a href="support.php">
      Contact
      </a>
      </li>
      <li>
      <a href="privacy.html">
      Privacy Policy
      </a>
      </li>
      <li>
      <a href="term.html">
      Terms &amp; Conditions
      </a>
      </li>
      </ul>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="single-widget">
      <h3>Newsletter</h3>
      <p class="newsletter-p">Subscribe to our newsletter to get latest product and services </p>
      <div class="subscribe-wrap">
      <form class="newsletter-form" data-toggle="validator">
      <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required="" autocomplete="off">
      <button class="default-btn" type="submit">
      Subscribe
      </button>
      <div id="validator-newsletter" class="form-result"></div>
      </form>
      </div>
      </div>
      </div>
      </div>
      </div>
      </footer>




    


 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>