<%- include('./partials/nav.ejs') %>

<section class="container futureSection"  id="loadSection">
    <img src="/images/invest.jpg" alt="" id="loadImage2">
    <div>
      <h2>Your Life and properities are Safe with us</h2>
      <p> We help you carry the burden easily and help control contigencies</p>
      </p>
    </div>
</section>

<%- include('./partials/insurance.ejs') %>

<%- include('./partials/footer.ejs') %>