<%- include('./partials/nav.ejs') %>

<section class="container futureSection"  id="investHero">
    <img src="/images/insurance.jpg" alt="">
    <div>
      <h4>Invest in your future</h4>
      <p> Wherever you are today, we could help you create a better tomorrow</p>
    </div>
</section>

<section class="container investHolder">
    <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 investColumn" id="investSection">
    <span>Wealth</span>
    <h2>Better things to do than worry about your finances?</h2>
    <p>At Finance Reliance, we’re always looking for new ways to make banking easier,
    slicker – more relevant. When it comes to helping you to plan your future, we’re especially passionate.
    <br>
    The word ‘wealth’ means different things to different people. For some, it could be property. For others,
    it’s their family. For us, it means being able to make your money work harder
    and to protect what matters, so you can build a brighter future.
    <br>
    Whether you’ve been investing for a while or you’re wondering
    where to start, we can help you to take actions today that could make your future self proud.
    </p>
    <div class="about-list">
    <div class="row">
    <div class="col-lg-6">
    <div class="about-single-list">
    <i class="fa-solid fa-people-group fontIcon " id="investFont"></i>
    <span>We always Care about Client Satisfaction</span>
    </div>
    </div>
    <div class="col-lg-6">
     <div class="about-single-list">
        <i class="fa-solid fa-hands-holding-child fontIcon" id="investFont"></i>
    <span>100+ Community Involvement</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 investColumn" id="secondColumn">
        <img src="/images/chart1.jpg" alt="Image">
    </div>
    </div>
    </section>

    <!-- WE CAN HELP YOU SECTION -->

    <section class="container helpSection">
        <h2>We can help you to</h2>
        <p>Remember, the value of investments and any income they generate can go down as well as up, meaning you may not get back what you invest.
            Investing should be seen as a medium-to-long-term commitment so you should aim to invest for at least 5 years.</p>
        <section>
            <section>
                <img src="/images/help1.jpg" alt="">
                    <div>
                        <i class="fa-solid fa-dollar-sign fontIcon" id="helpfont"></i>
                    </div>
                    <h2>Invest Your Money</h2>
                    <p>Find out how we can help you make your money work harder – from choosing your own investments to us taking care of things for you</p>
                    <div>
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
            </section>
            <section>
                <img src="/images/help2.jpg" alt="">
                <div>
                    <i class="fa-solid fa-building-columns fontIcon" id="helpfont"></i>
                </div>
                    <h2>Invest in an ISA</h2>
                    <p>Browse a range of ways you can invest via a stocks & shares ISA – from getting advice to selecting your own funds or shares</p>
                    <div>
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
            </section>
            <section>
                <img src="/images/help3.jpg" alt="">
                <div>
                    <i class="fa-solid fa-people-carry-box fontIcon" id="helpfont"></i>
                </div>
                <h2>Invest in Your Self</h2>
                <p>Carve out a little time to build your financial knowledge and increase your confidence – it’s easier than you think</p>
                <div>
                    <i class="fa-solid fa-angles-right"></i>
                </div>
            </section>
            <section>
                <img src="/images/help4.jpg" alt="">
                <div>
                    <i class="fa-solid fa-people-roof fontIcon" id="helpfont"></i>
                </div>
                <h2>Is Now a Good Time to Invest</h2>
                <p>
                    Uncertainty's no reason to put your future on hold.
                </p>
                <div>
                    <i class="fa-solid fa-angles-right"></i>
                </div>
            </section>
            <section>
                <img src="/images/help5.jpg" alt="">
                <div>
                    <i class="fa-solid fa-hand-holding-dollar fontIcon" id="helpfont"></i>
                    
                </div>
                <h2>Investing For Beginners</h2>
                <p>Demystifying investing to help you get started.</p>
                <div>
                    <i class="fa-solid fa-angles-right"></i>
                </div>
            </section>
            <section>
                <img src="/images/help6.jpg" alt="">
                <div>
                    <i class="fa-solid fa-hand-holding-hand fontIcon" id="helpfont"></i>
                </div>
                <h2>Saving vs Investing</h2>
                <p>
                    What's the difference? And which is right for you?
                </p>
                <div>
                    <i class="fa-solid fa-angles-right"></i>
                </div>

            </section>
        </section>
    </section>

<%- include('./partials/footer.ejs') %>