<%- include('./partials/nav.ejs') %>

<section class="container futureSection"  id="investHero">
    <img src="/images/insurance.jpg" alt="">
    <div>
      <h2>Invest in your future</h2>
      <p> Wherever you are today, we could help you create a better tomorrow</p>
      </p>
    </div>
</section>

<section class="container investHolder">
    <div class="row">
    <div class="col-lg-6 investColumn" id="investSection">
    <span>Wealth</span>
    <h2>Better things to do than worry about your finances?</h2>
    <p>At Finance Reliance, we’re always looking for new ways to make banking easier,
    slicker – more relevant. When it comes to helping you to plan your future, we’re especially passionate.
    <br>
    The word ‘wealth’ means different things to different people. For some, it could be property. For others,
    it’s their family. For us, it means being able to make your money work harder
    and to protect what matters, so you can build a brighter future.
    <br>
    Whether you’ve been investing for a while or you’re wondering
    where to start, we can help you to take actions today that could make your future self proud.
    </p>
    <div class="about-list">
    <div class="row">
    <div class="col-lg-6">
    <div class="about-single-list">
    <i class="fa-solid fa-people-group fontIcon " id="investFont"></i>
    <span>We always Care about Client Satisfaction</span>
    </div>
    </div>
    <div class="col-lg-6">
     <div class="about-single-list">
        <i class="fa-solid fa-hands-holding-child fontIcon" id="investFont"></i>
    <span>100+ Community Involvement</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 investColumn" id="secondColumn">
        <img src="/images/chart1.jpg" alt="Image">
    </div>
    </div>
    </section>


<%- include('./partials/footer.ejs') %>