<%- include('./partials/nav.ejs') %>

<section class="container futureSection"  id="loadSection">
    <img src="/images/loan.jpg" alt="" id="loadImage">
    <div>
      <h2>You can consolidate on Us</h2>
      <p> We offer a loan to our customers with low Interest and stipends</p>
      </p>
    </div>
</section>

<!-- Loan features and benefits -->

<section class="loanSection">
    <div>
        <img src="/images/loanImage.jpg" alt="">
    </div>
    <section>
        <span>Our Loan</span>
        <h2>Featutures and Benefits</h2>
        <p>For loans between £7,000 and £15,000. Now also available to non-Finance Reliance current account customers.

            The rate is subject to change and the representative APR may not be the rate you'll receive. We'll offer you a rate based on our assessment of your personal financial circumstances. The maximum APR you could be offered is 21.9%.
            
            The APR may vary based on amount borrowed. Please use the calculator or the loans interest rate table (PDF, 57KB)loans interest rate table (PDF, 57KB) This link will open in a new window for more details.</p>
        <section>
            <section>
                <span>Borrow from £1,000 to £25,000</span>
                <p>Spread your repayments over 1 to 5 years for loans of £15,000 or less, or over 1 to 8 years for loans over £15,000.</p>
            </section>
            <section>
                <span>Top up your existing loan</span>
                <p>If you’ve already got an Finance Reliance Personal Loan, find out about topping up your existing loan.</p>
            </section>
            <section>
                <span>Get a quick decision</span>
                <p>As an Finance Reliance current account customer, you could get an instant credit decision. Non-Finance Reliance current account customers should be contacted with a credit decision in 2-5 working days.</p>
            </section>
            <section>
                <span>Quick access to funds</span>
                <p>Existing Finance Reliance current account customers could receive the money instantly once the application has been approved and the loan agreement has been signed. Non-Finance Reliance current account customers could receive the money into a nominated account 3 working days after the signed loan agreement is received.</p>
            </section>
        </section>
    </section>
</section>

<%- include('./partials/footer.ejs') %>