<%- include('./partials/nav.ejs') %>

<section class="saveIntro">
    <p>Maximise your savings to grow your money and reach your goals. The best kind of savings account will depend on your circumstances and what you want to achieve. See the range of savings accounts available to Finance Reliance customers, as well as some guidance to get you started.</p>
</section>

<section class=" container save">
    <section>
        <h2>Regular Saving Account</h2>
        <p>Maximise your savings with 2.75% AER/gross, fixed for 12 months.</p>
    </section>
    <section>
        <h2>Fixed Rate Saver</h2>
        <p>Choose how long you want to save for and make your money work for you.</p>
    </section>
    <section>
        <h2>Easy Access Saving</h2>
        <p>Help your money grow without losing access to your cash.</p>
    </section>
</section>


<!-- second section -->

<section class="saveIdea">
    <section class="container saveSection">
        <section>
            <h2>How to save</h2>
            <p>A step-by-step guide to help you start saving money so you can reach your savings goal. From paying yourself first to rounding up your spending, there are some simple tricks that can help get you into gear.</p>
            <h2>Everyday Saving</h2>
            <p>Growing your savings balance doesn’t always have to come at great sacrifice. Use this list of tips to start saving more. These small changes can make a big difference over time and won’t significantly impact your day-to-day finances.</p>
        </section>
        <section>
            <img src="/images/save2.PNG" alt="">
        </section>
    </section>
</section>


<!-- HERO FOR SAVE PAGE -->
<section class="container futureSection" id="saveHero">
    <img src="/images/future.jpg" alt="" id="">
    <div>
      <h2>You can consolidate on Us</h2>
      <p> We offer a loan to our customers with low Interest and stipends</p>
      </p>
    </div>
</section>



<!-- vision Section -->
<section class="visionSection container">
    <section>
        <img src="/images/save.PNG" alt="">
    </section>
    <section>
        <p>our vision</p>
        <h2>We are Committed to Help Clients to Reach The Goals</h2>
        <span>Our vision is to help you grow, support and make you secure your future

            Finance Reliance is one of the world’s largest banking and financial services organisations. We serve more than 40 million customers through our global businesses:
            
        </span>
        <section class="visionAside">
                <p> <i class="fa-solid fa-angles-right"></i> Save Money</p>
                <p> <i class="fa-solid fa-angles-right"></i> No Brokers, No Upselling</p>
                <p> <i class="fa-solid fa-angles-right"></i> Fast Application</p>
                <p> <i class="fa-solid fa-angles-right"></i> Investment Planning</p>
                <p> <i class="fa-solid fa-angles-right"></i> Flexible Insurance</p>
                <p> <i class="fa-solid fa-angles-right"></i> Professional Advisor</p>
        </section>
    </section>
</section>


<%- include('./partials/footer.ejs') %>