<%- include('./partials/nav.ejs') %>

<section class="container account">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <p class="text-danger">Enter Account Number and Password to Login to your account</p>
    <form action="/find/user" method="POST">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="Acount Number" name="account">
            <label for="floatingInput">Account Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="pass" name="password">
            <label for="floatingInput">Account Password</label>
          </div>
          <button type="submit" class="btn btn-outline-info btn-lg">View Account Profile</button>
      </form>
</section>

<%- include('./partials/bankfooter.ejs') %>