<%- include('./partials/banking.ejs') %>

<section class="container transfer">
    <h2 class="text-success">First Reliance online Transfer.</h2>
    <h4 class="text-danger text-center">Available Balance : GBP <%= account.balance %></h4>
    <form action="/myaccount/transfer/<%= account._id %>"  method="POST">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="amount" name="amount">
            <label for="Enter firstname">Amount to transfer</label>
          </div>
        <button type="submit"  class="btn btn-outline-primary btn-lg transferButton">Take Next Step</button>
      </form>
</section>


<%- include('./partials/bankfooter.ejs') %>