
/* 
***********************************************************
General Setting
***********************************************************
*/

*{
    padding: 0px;
    margin: 0x;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;;
}

/*  
***********************************************************
DISPLAYING FLEX FOR ALL CONTAINERS
***********************************************************
*/

.serviceFlex, .aboutUsFlex, .subInsurance, footer > section, .visionSection > section + section > section, .visionSection, .contactPage, .contactForm{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 30%;
    gap: 30px;
    flex-wrap: nowrap;
   
}


/* 
***********************************************************
Nav Bar Setting
***********************************************************
*/

.navbar {
    background-color: #093d2a;
 
}

.navbar ul li a{
    color: white;
    font-size: 25px;
}
.navbar ul li a:hover{
    color: cornflowerblue;
}

.navbar-nav{
    width: 50%;
    margin: auto;
}

.internetButton{
    background-color: #fff;
}

/* 
***********************************************************
Carousel Setting
***********************************************************
*/
.carousel-item{
    position: relative;
        margin-top: 75px;
}


.carousel-item > section{
    position: absolute;
    left: 25%;
    top : 20%;  
    padding: 30px 20px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 50%;
    
}   
.heroText{
    font-size: 35px;
    font-weight: bold;
    color:azure;
    /* color: #20d492; */
}

.contactButton{
    position: absolute;
    left: 45%;
    bottom : 10%;
    padding: 15px;
    text-align: center;
    width: 12%;
    color: #fff;
    font-size: 30px;
}

.laptopCarousel {
    background: linear-gradient(rgba(40, 58, 90, 0.6), rgba(40, 58, 90, 0.6)), url("/images/online3.jpg") fixed center center;
    background-size: cover;
    /* padding: 120px 0; */
    width: 100%;
    height: 670px;
    
}

.familyCarousel {
    background: linear-gradient(rgba(40, 58, 90, 0.6), rgba(40, 58, 90, 0.6)), url("/images/vacation.jpg") fixed center center;
    background-size: cover;
    /* padding: 120px 0; */
    width: 100%;
    height: 670px;  
}


/* 
***********************************************************
Services Setting 
***********************************************************
*/

.services{
    margin-top: 80px;
    text-align: center;
}
.services > h2{
    font-size: 50px;
}

.services > h2 + p{
    color: gray;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 30px;
}

.serviceFlex section{
    background-color: rgb(179, 212, 225);
    text-align: center;
    border-radius: 10px;
    width: 33.33%;
}

.serviceFlex section > img{
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.serviceFlex section > img + h3{
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
}

.serviceFlex section > img + h3 + p{
    font-size: 20px;
    padding: 10px;
    color: rgb(42, 37, 37);
}


/* 
***********************************************************
About Us Setting 
***********************************************************
*/
.aboutUs{
    margin-top: 100px;
    background-color: rgb(241, 239, 239);
    padding: 100px 40px;
}

.aboutUsImage{
    background-color: rgb(179, 212, 225);
    padding: 10px;
    border-radius: 10px;
}

.aboutUsImage img{
    border-radius: 10px;
}

.aboutUsFlex > div > span{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    border-left: 3px solid red;
    padding-left: 10px;
    margin-bottom: 10px;
}

.aboutUsFlex > div > span + h2{
    font-size: 40px;
    font-weight: bold;    
}


/* 
***********************************************************
Insurance Section 
***********************************************************
*/

.insuranceSection{
    text-align: center;
    margin-top: 50px;
}

.subInsurance{
    flex-wrap: wrap;
}

.subInsurance > section{
    width:30%;
    background-color: #093d2a;
    color: #fff;
    padding: 50px;
    border-radius: 5px;
}

.subInsurance > section > div {
    width:80px;
    height: 80px;
    border-radius: 100%;
    background-color: red;
    margin: auto;
    margin-bottom: 30px;
    padding:15px;
    background-color: #fff;
}

 .fontIcon {
    font-size: 45px;
    color: black;
}

.insuranceSection > span{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
}

.insuranceSection > span + h2{
    font-weight: bold;
    margin: 20px 0px;
    color: #093d2a;
}

.insuranceSection > span + h2 + p{
    display: inline-block;
    width: 60%;
    color: gray;
    font-size: 17px;
    margin-bottom: 30px;
}

/* 
***********************************************************
    Futuure Section
***********************************************************
*/



.futureSection{
    background-color: rgb(179, 212, 225);
    padding: 0;
    margin-top: 100px;
    border-radius: 10px;
    height: 320px;
    width: 75%;
    position: relative;
}

.futureSection > img{
    border-radius: 30px;
    width:50%;
}

.futureSection > img + div{
    width: 50%;
    position:absolute;
    right: 10px;
    bottom: 140px;
    padding: 30px;
    
}

.futureSection > img + div p{
    text-align: right;
    font-weight: bold;
}

.futureSection > img + div > h2{
    font-weight: bold;
}

/* 
***********************************************************
FOOTER SECTION
***********************************************************
*/

footer{
    margin-top: 70px;
    background-color: #093d2a;
    padding: 70px;
    color: #fff;
}


footer > section > section > h3, .subSection > h2{
    color: #00af6f;
    font-size: 30px;
    
}

footer > section > section{
    flex-basis: 20%;
}

footer {
    font-size: 20px;
}


/* 
***********************************************************
INVEST PAGE
***********************************************************
*/

#investHero{
    height: 420px;
    transform: translate(0%, 20%);

}

.investHolder{
    margin-top: 180px;
}


#investSection > span{
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 20px;
}

#investSection > span + h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#investSection > span + h2 + p{
    color: gray;
    text-align: justify;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 2.0;
}

#investSection{
    width: 50%;
    margin-right: 30px;
}

#secondColumn{
    width: 40%;
}

#secondColumn > img{
    border-radius: 10px;
    margin-top: 120px;
}

#investFont{
    color: #093d2a;
}

/* SECOND ie HELP SECTION */

.helpSection{
    margin-top: 150px;
    text-align: center;
    
}
.helpSection > h2{
    font-weight: bold;
    font-size: 50px;
}
.helpSection > h2 + p { 
    display: inline-block;
    width: 60%;
    color: gray;
}

.helpSection > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.helpSection > section > section{
    width: 30%;
    background-color: #fff;
    box-shadow:  3px 5px 6px #ccc;
    text-align: center;
    margin-bottom: 15px;
}

.helpSection > section > section > img{
    width: 100%;
}

.helpSection > section > section > img + div + h2{
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
}

.helpSection > section > section > img + div +  h2 + p {
    padding: 20px;
    color: gray;
}

.helpSection > section > section > img + div +  h2 + p + div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #093d2a;
    color: #fff;
    padding: 10px;
    margin: 15px auto;
}


.fa-angles-right {
    font-size: 20px;

}

.helpSection > section > section > img + div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #093d2a;
    padding: 15px;
    margin:auto;
    transform: translate(0%, -25%);
    
}

#helpfont{
    color: #fff;
    font-size: 40px;
}


/* 
***********************************************************
Loan page
***********************************************************
*/

.loanSection, .save, .saveSection{
    display: flex;
    justify-content: space-between; 
    width: 90%; 
    margin: 200px auto;

}

.loanSection > * {
    flex-basis: 30%;
}

.loanSection > div{
    border: 5px solid #093d2a;
    flex-basis: 45%;
    height: 510px;
    border-radius: 10px;
    margin-top: 170px;
   
}

.loanSection > div + section{
    flex-basis: 50%;
    line-height: 2.0;
    color: gray;
    font-size: 18px;
}

.loanSection > div > img{
    transform: translate(6%, -10%);
    width: 100%;
    border-radius: 10px;
}

#loadImage{
    width: 45%;
}

#loadImage2{
    height: 320px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#loadSection{
    margin-top: 120px;
}


.loanSection > div + section > section {
    display: flex;
    flex-wrap: wrap;
}

.loanSection > div + section > section > section{
    flex-basis: 50%;
}

.loanSection > div + section > span + h2{
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.loanSection > div + section > span + h2 + p{
    line-height: 2.0;
    text-align: justify;
    
}

.loanSection > div + section > section > section > span{
    font-weight: bold;
    color: black;
}



/* 
***********************************************************
SAVE PAGE
***********************************************************
*/

.saveIntro {
    width: 50%;
    margin: 150px auto;
    text-align: center;
    font-size: 20px;
    color: gray;
    
}

.save{
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    margin: 100px auto;
    gap: 20px;
  
}

.save > section{
    border: 1px dotted #093d2a;
    padding: 50px;
    text-align: center;
}

.save > section:hover{
    background-color: black;
    color: #fff;
    animation: fadeIn 3s;
    transition: 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.saveIdea{
    background-color: rgb(254, 254, 254);
    padding: 30px;
}

.saveSection{
    justify-content:space-between;
    gap: 100px;
}

.saveSection > section{
    flex-basis: 45%;
}

.saveSection > section h2{
    font-weight: bold;
    margin: 15px 0;
}

.saveSection > section p{
    line-height: 2.0;
}

.saveSection > section + section{
    margin-top: -80px;
    flex-basis: 55%;
}

#saveHero{
    margin-top: -30px;
}


/* vision section on save page */

.visionSection{
    margin-top: 120px;
    padding: 20px;
}

.visionSection > section + section > section{
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-start;
}

.visionSection > section{
    flex-basis: 40%;
    justify-content: space-around;
}

.visionSection > section + section > p{
    font-weight: bold;
    font-size: 20px;
}

.visionSection > section + section > p + h2{
    font-weight: bold;
    margin: 10px 0;
}

.visionSection > section + section > p + h2 + span{
    line-height: 2.0;
    display: inline-block;
    margin-bottom: 15px;
}

.visionSection > section + section p{
    font-weight: bold;
    display: inline-block;
}


/* 
***********************************************************
Contact Page
***********************************************************
*/


.contactPage{
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 120px; */
    padding: 30px;
    gap: 10px;
    margin: 150px auto;
}

.contactPage > section{
    flex-basis: 50%;
}

.formSection{
    padding: 40px;
    height: 600px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.formSection + section{
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
    padding: 50px;
}

.formSection + section section{
    background-color: #093d2a;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.formSection + section span{
    font-size: 18px;
}


.formSection > form > h2, .formSection + section > h2 {
    margin: 15px auto;
    font-weight: bolder;
}

.contactPage > section + section{
    flex-basis: 40%;
}

.contactForm{
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    flex-basis: 45%;
}
.contactForm > div {
    flex-basis: 45%
}


#contactTextArea {
    flex-basis: 92%;
    text-align: left;

}

#contactTextArea > textarea {
    height: 150px;
    text-align: left;
}

.contactFont{
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
}


.formButton{
    margin: 20px auto;
}



/* 
***********************************************************
SEARCH PAGE
***********************************************************
*/

.account{
    margin-top: 40px;
    box-shadow:  3px 5px 6px #ccc;
    padding: 20px;
    width: 50%;
}