
/* 
***********************************************************
General Setting
***********************************************************
*/

*{
    padding: 0px;
    margin: 0x;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;;
}

/*  
***********************************************************
DISPLAYING FLEX FOR ALL CONTAINERS
***********************************************************
*/

.serviceFlex, .aboutUsFlex, .subInsurance, footer > section, .visionSection > section + section > section, .visionSection, .contactPage, .contactForm{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 30%;
    gap: 30px;
    flex-wrap: nowrap;
   
}


/* 
***********************************************************
Nav Bar Setting
***********************************************************
*/



.navbar {
    background-color: #fff;
    height: 50px;
}

.navbar-brand {
    width: 50px;
    height: 65px;
}

.page-logo{
    font-size: 17px;
    font-weight: bold;
    color: #00af6f;
    margin-right: 5%;
}

.navbar ul li a{
    color: #00af6f;
    font-size: 17px;
}
.navbar ul li a:hover{
    color: crimson;
}

.navbar-nav{
    width: 80%;
}

.internetButton{
    background-color: #fff;
    margin-left:5%;
    width: 20%;
}


@media screen and (max-width: 480px){
    .navbar-nav{
        width: 100%;
        margin: 10px 10px;
    }

    .navbar-toggler{
        background-color: #fff;
    }
    
    .internetButton{
       margin-bottom: 15px;
       margin-left: 5px;
       width: 40%;
    }

    .navbar {
        height: 70px;
    }
    

    #collapsibleNavbar{
        background-color: cornflowerblue;
        color: #fff;
        margin-top: -10px;
        border-radius: 10px;
    }

    .navbar ul li a{
        color: #fff;
        
    }

    
}

/* 
***********************************************************
Carousel Setting
***********************************************************
*/
.carousel-item{
    position: relative;
     margin-top: 40px;
}


.carousel-item > section{
    position: absolute;
    left: 25%;
    top : 20%;  
    padding: 30px 20px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 50%;   
}   

.heroText{
    font-size: 20px;
    font-weight: bold;
    color:azure;
    /* color: #20d492; */
}

.contactButton{
    position: absolute;
    left: 45%;
    bottom : 10%;
    padding: 10px;
    text-align: center;
    width: 15%;
    color: #fff;
    font-size: 20px;
}

.laptopCarousel {
    background: linear-gradient(rgba(40, 58, 90, 0.6), rgba(40, 58, 90, 0.6)), url("/images/online3.jpg") fixed center center;
    background-size: cover;
    /* padding: 120px 0; */
    width: 100%;
    height: 450px;
    
}

.familyCarousel {
    background: linear-gradient(rgba(40, 58, 90, 0.6), rgba(40, 58, 90, 0.6)), url("/images/vacation.jpg") fixed center center;
    background-size: cover;
    width: 100%;
    height: 450px;  
    position: relative;
}

@media screen and (max-width: 480px){
    .carousel-item > section, .familyCarousel > section{
        left: 20%;
        top : 50px;  
        padding: 15px;
        text-align: center;
        font-size: 25px;
        width: 60%;   
    }  

    .carousel-item, .familyCarousel {
        margin-top: 90px;
    }


    .heroText{
        font-size: 18px;
        font-weight: bold;
        color:azure;
    }

    .contactButton{
        position: absolute;
        left: 30%;
        bottom : 5%;
        padding: 10px;
        text-align: center;
        width: 40%;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }




}
/* 
***********************************************************
Services Setting 
***********************************************************
*/

.services{
    margin-top: 80px;
    text-align: center;
}
.services > h2{
    font-size: 30px;
}

.services > h2 + p{
    color: gray;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 30px;
}

.serviceFlex section{
    background-color: rgb(179, 212, 225);
    text-align: center;
    border-radius: 10px;
    width: 33.33%;
    height: 400px;
}

.serviceFlex section > img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.serviceFlex section > img + h3{
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
    color:#00af6f;
}

.serviceFlex section > img + h3 + p{
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    color: rgb(42, 37, 37);
}

@media screen and (max-width: 480px){
    .serviceFlex {
        flex-direction: column;
    }

    .serviceFlex section{
        width: 70%;
        margin: 10px auto;
    }
    
}


/* 
***********************************************************
About Us Setting 
***********************************************************
*/
.aboutUs{
    margin-top: 80px;
    background-color: rgb(241, 239, 239);
    padding: 70px 20px;
}

.aboutUsImage{
    background-color: rgb(179, 212, 225);
    padding: 10px;
    border-radius: 10px;
}

.aboutUsFlex {
    justify-content: flex-start;
    gap: 10%;
}

.aboutUsFlex div:first-child {
    flex-basis: 50%;
}

.aboutUsImage{
    background-color: rgb(179, 212, 225);
    border-radius: 10px;
    flex-basis: 40%;
    height: 258px;
    margin-top: 40px;
}

.aboutUsImage img{
    border-radius: 10px;
    width: 100%;
}

.aboutUsFlex > div > span{
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    border-left: 3px solid red;
    padding-left: 10px;
    margin-bottom: 10px;
}

.aboutUsFlex > div > span + h2{
    font-size: 20px;
    font-weight: bold;    
}

.aboutUsFlex  p{
    text-align: justify; 
    
}
@media screen and (max-width: 480px){
    .aboutUsFlex{
        flex-direction: column;
    }

    .aboutUsImage img{
       width: 100%;
    }

    .aboutUs{
        padding: 20px ;
    }

    .aboutUsFlex p {
        text-align: justify;
        font-size: 12px;
    }
}
/* 
***********************************************************
Insurance Section 
***********************************************************
*/

.insuranceSection{
    text-align: center;
    margin-top: 50px;
}

.subInsurance{
    flex-wrap: wrap;
}

.subInsurance > section{
    width:30%;
    background-color: #093d2a;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.subInsurance > section > div {
    width:50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
    margin:10px auto;
    padding:10px;
    background-color: #fff;

}

 .fontIcon {
    font-size: 25px;
    color: black;
}

.insuranceSection > span{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
}

.insuranceSection > span + h2{
    font-weight: bold;
    margin: 20px 0px;
    color: #093d2a;
}

.insuranceSection > span + h2 + p{
    display: inline-block;
    width: 60%;
    color: gray;
    font-size: 15px;
    margin-bottom: 30px;
}

.subInsurance h3 {
    color: #0ac37f;
}


@media screen and (max-width: 480px){
    .subInsurance{
        flex-direction: column;
    }

    .subInsurance > section{
        width:80%;
        margin: auto;
    }
}
/* 
***********************************************************
    Futuure Section
***********************************************************
*/



.futureSection{
    background-color: rgb(179, 212, 225);
    padding: 0;
    margin-top: 100px;
    border-radius: 10px;
    height: 230px;
    width: 75%;
    position: relative;
}

.futureSection > img{
    border-radius: 30px;
    width:45%;
}

.futureSection > img + div{
    width: 50%;
    position:absolute;
    right: 8px;
    bottom: 120px;
    padding: 30px;   
    top : 10%; 
}

.futureSection > img + div p{
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

.futureSection > img + div > h2{
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width: 480px){
    .futureSection > img + div, .futureSection > img{
        width: 100%;
        
    }

    .futureSection > img {
        border-radius: 0;
    }

    .futureSection > img + div{
        top: 50%;
        padding: 30px;  
    }

    .futureSection {
        width: 90%;
        border-radius: 0;
        height: 300px;
    }
}


/* 
***********************************************************
FOOTER SECTION
***********************************************************
*/

footer{
    margin-top: 70px;
    background-color:rgb(240, 239, 239);
    padding: 70px;
    color: #093d2a;
}


footer > section > section > h3, .subSection > h2{
    color: #00af6f;
    font-size: 20px;
    
}

footer > section > section{
    flex-basis: 20%;
}

footer {
    font-size: 15px;
}

.footer-brand{
    width: 100%;
    height: 150px;
    margin-left: -30px;
    margin-bottom: -15px;
}

@media screen and (max-width: 480px){
    footer > section {
        flex-direction: column;    
    }

    footer{
        padding: 20px;
    }

    .footer-brand{
        width: 40%;
    }
}


/* 
***********************************************************
INVEST PAGE
***********************************************************
*/

#investHero{
    transform: translate(0%, 20%);
    height: 270px;
}

#investHero > img {
    border-radius: 20px;
    width: 40%;
    
}

.investHolder{
    margin-top: 180px;
}


#investSection > span{
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    margin-bottom: 20px;
    border-left: 3px solid red;
    padding-left: 10px;
}

#investSection > span + h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #093d2a;
}

#investSection > span + h2 + p{
    color: gray;
    text-align: justify;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 2.0;
}


#secondColumn > img{
    border-radius: 10px;
    margin-top: 130px;
    width: 100%;
}

#investFont{
    color: #093d2a;
}

@media screen and (max-width: 480px){

    .investHolder{
        margin-top: 120px;
    }

    #investHero > img {
        border-radius: 20px;
        width: 100%;
        
    }
    #investHero{
        border-radius: 10px;
        height: 340px;
        width: 70%;
        margin: 60px auto;
    }

    #investSection{
    width: 100%;
    margin-right: 30px;
    }

    #secondColumn{
        width: 100%;
    }

    #secondColumn > img {
        width: 100%;
    }

    #investSection {
        width: 80%;
        margin: auto;
    }

    #investHero > div {
        top: 60%;
        margin-bottom: 10px;
    }

    #investHero > div > h4 {
        font-weight: bold;
        font-size: 20px;
    }

    #investHero > div > h4 + p{
        font-size: 14px;
    }

    #investSection > span + h2{
        font-size: 20px;
    }

    #investSection > span + h2 + p{
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 2.0;
    }

    #secondColumn > img{
        border-radius: 10px;
        margin-top: 100px;
    }
}   



/********************************* HELP SECTION ********************************/

.helpSection{
    margin-top: 100px;
    text-align: center;
    
}
.helpSection > h2{
    font-weight: bold;
    font-size: 30px;
    color: #093d2a;
}
.helpSection > h2 + p { 
    display: inline-block;
    width: 60%;
    color: gray;
    font-size: 13px;
    text-align: justify;
}


.helpSection > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.helpSection > section > section{
    width: 30%;
    background-color: #fff;
    box-shadow:  3px 5px 6px #ccc;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.helpSection > section > section > img{
    width: 100%;
    border-radius: 10%;
}

.helpSection > section > section > img + div + h2{
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
}

.helpSection > section > section > img + div +  h2 + p {
    padding: 20px;
    color: gray;
}

.helpSection > section > section > img + div +  h2 + p + div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #093d2a;
    color: #fff;
    padding: 10px;
    margin: 15px auto;
}


.fa-angles-right {
    font-size: 20px;

}

.helpSection > section > section > img + div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #093d2a;
    padding: 15px;
    margin:auto;
    transform: translate(0%, -25%);
    
}

#helpfont{
    color: #fff;
    font-size: 40px;
}


@media screen and (max-width: 480px){
    .helpSection > h2 {
        font-size: 30px;
    }

    .helpSection > section {
        flex-direction: column;
    }

    .helpSection > section > section {
        width: 80%;
        margin: auto;
        margin-bottom: 20px
    }
}


/* 
***********************************************************
Loan page
***********************************************************
*/

.loanSection, .save, .saveSection{
    display: flex;
    justify-content: space-between; 
    width: 90%; 
    margin: 50px auto;

}


.loanSection > div{
    border: 5px solid #093d2a;
    flex-basis: 40%;
    height: 360px;
    border-radius: 10px;
    margin-top: 170px;
   
}

.loanSection > div + section{
    flex-basis: 50%;
    line-height: 2.0;
    color: gray;
    font-size: 15px;
    margin-top: 20px;
}

.loanSection > div + section > span {
    font-size: 18px;
    display: inline-block;
    border-left: 3px solid red;
    padding-left: 10px;
    margin: 10px 0;
}


.loanSection > div > img{
    transform: translate(6%, -10%);
    width: 100%;
    border-radius: 10px;
}

#loadImage{
    width: 45%;
    height: 200px;
}

#loadImage2{
    height: 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#loadSection{
    margin-top: 120px;
    height: 200px;
}


.loanSection > div + section > section {
    display: flex;
    flex-wrap: wrap;
}

.loanSection > div + section > section > section{
    flex-basis: 50%;
}

.loanSection > div + section > span + h2{
    font-weight: bold;
    margin: 10px 0;
    color: #093d2a;
    font-size: 25px;
}

.loanSection > div + section > span + h2 + p{
    line-height: 2.0;
    text-align: justify;
    
}

.loanSection > div + section > section > section > span{
    font-weight: bold;
    color: #093d2a;
}

@media screen and (max-width: 480px){
    #loadImage{
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    .loanSection > div + section{
        font-size: 10px;
    }

    #loadSection > div > h2{
        font-size: 20px;
        color: #093d2a;
    }
   
    #loadSection{
        width: 70%;
        margin: auto;
        margin-top: 130px;
        border-radius: 10px;
        height: 360px;
        box-shadow:  3px 5px 6px #ccc;
    }

    .loanSection > div > img{
        transform: translate(0%, -10%);
        width: 100%;
        border-radius: 10px;
    }

    .loanSection {
        flex-direction: column;
        margin: 10px auto;
    }

    .loanSection > div + section > section {
        gap: 10px;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .loanSection > div + section > section > section{
        flex-basis: 45%;
        
    }

    .save {
        margin: 10px auto;
    }
   
}

/* 
***********************************************************
SAVE PAGE
***********************************************************
*/

.saveIntro {
    width: 50%;
    margin: 150px auto;
    text-align: center;
    font-size: 20px;
    color: gray;
    
}

.save{
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    margin: 100px auto;
    gap: 20px;
  
}

.save > section{
    border: 1px dotted #093d2a;
    padding: 50px;
    text-align: center;
}

.save > section:hover{
    background-color: black;
    color: #fff;
    animation: fadeIn 3s;
    transition: 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.saveIdea{
    background-color: rgb(254, 254, 254);
    padding: 30px;
}

.saveSection{
    justify-content:space-evenly;
    gap: 20px;
}

.saveSection > section{
    width: 50%;
}

.saveSection img{
    width: 100%;
}

.saveSection > section + section{
    margin-top: 50px;
    width: 30%;
}


.saveSection > section h2{
    font-weight: bold;
    margin: 15px 0;
    color: #093d2a;
}

.saveSection > section p{
    line-height: 2.0;
}

#saveHero{
    margin-top: -30px;
    height: 234px;
}

#saveHero > img {
    width: 50%;
}


.visionSection > section + section > p {
    display: inline-block;
    border-left: 5px solid red;
    padding-left: 10px;
}

.visionSection  {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 60px;
}

.visionSection section:first-child > img {
    width: 80%;
}

.visionSection section:first-child  + section{
    flex-basis: 50%;
}

.visionSection > section + section > h2 {
    color: #093d2a;
}


@media screen and (max-width: 480px){

    .saveIntro {
        text-align: justify;
        width: 80%;
    }

    .save {
        flex-direction: column;
    }

    .saveSection {
        flex-direction:column;
        margin: 20px;
    }

    .saveIdea{
        padding: 20px;
        margin-bottom: 40px;
    }

    .saveSection > section + section{
        margin-top: 10px auto;
        flex-basis: 80%;
        
    }

    .saveSection > section + section > img{
        width: 100%;
    }

    .saveSection > section{
        width: 100%;
        margin: auto;
    }
    

    .saveSection > section + section{
        width: 80%;
    }

    #saveHero{
         height: 300px; 
    }

    #saveHero > img {
        width: 100%;
    }

    #saveHero > div {
        transform: translate(5%,43%);
    }

    .visionSection {
        flex-direction: column-reverse;
        width: 100%;
        padding: 15px;
        
    }


    .visionSection > section > img {
        width: 90%;
    }

    .saveIntro {
        font-size: 15px;
    }
}




/* vision section on save page */

.visionSection{
    margin-top: 120px;
    padding: 20px;
}

.visionSection > section + section > section{
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.visionSection > section{
    flex-basis: 40%;
    justify-content: space-around;
}

.visionSection > section + section > p{
    font-weight: bold;
    font-size: 20px;
}

.visionSection > section + section > p + h2{
    font-weight: bold;
    margin: 10px 0;
}

.visionSection > section + section > p + h2 + span{
    line-height: 2.0;
    display: inline-block;
    margin-bottom: 15px;
}

.visionSection > section + section p{
    font-weight: bold;
    display: inline-block;
}


/* 
***********************************************************
Contact Page
***********************************************************
*/


.contactPage{
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    gap: 10px;
    margin: 100px auto;
}

.contactPage > section{
    flex-basis: 50%;
}

.formSection{
    padding: 40px;
    height: 600px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.formSection + section{
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
    padding: 50px;
}

.formSection + section section{
    background-color: #093d2a;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.formSection + section span{
    font-size: 18px;
}


.formSection > form > h2, .formSection + section > h2 {
    margin: 15px auto;
    font-weight: bolder;
}

.contactPage > section + section{
    flex-basis: 40%;
}

.contactForm{
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    flex-basis: 45%;
}
.contactForm > div {
    flex-basis: 45%
}


#contactTextArea {
    flex-basis: 92%;
    text-align: left;

}

#contactTextArea > textarea {
    height: 150px;
    text-align: left;
}

.contactFont{
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
}


.formButton{
    margin: 20px auto;
}

@media screen and (max-width: 480px){
    .contactPage{
        padding: 20px;
        margin: 30px auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contactPage > section + section{
        flex-basis: 100%;
        border-radius: 10px;
    }

    .contactPage > section{
        flex-basis: 100%;
        margin-top: 20px;
        border-radius: 10px;
    }

    .contactForm{
        flex-direction: column;
        gap: 30px;
    }
}

/* 
***********************************************************
SEARCH PAGE
***********************************************************
*/

.account{
    margin-top: 10%;
    box-shadow:  3px 5px 6px #ccc;
    padding: 20px;
    width: 50%;
}

.account > p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.account button{
    display: block;
    margin: 10px auto;
}

@media screen and (max-width: 480px){
    .account{
        margin-top: 35%;
        width: 80%;
    } 
}


.justify-content-center {
    box-shadow:  3px 5px 6px #ccc;
    margin: 10% auto;
    background-color: #fff;
    border-radius: 10px;
    width: 70%;
    padding: 30px;
}
.justify-content-center > section {
    width: 70%;
    margin: auto;
}

.justify-content-center > section  label {
    color: #093d2a;
    font-size: 25px;
}

.justify-content-center  button {
    margin: 15px auto;  
    display: block;  
}


@media screen and (max-width: 480px){
    .justify-content-center {
        margin: 40% auto;
        width: 90%;
    }

    .justify-content-center > section {
        width: 100%;
        
    }
    
}




/* 
***********************************************************
PROFILE PAGE
***********************************************************
*/


.profile, .profile nav, .profileInfo, .mainSection, .mainSectionFirst > section, .loansCheck{
    display: flex; 
    justify-content: space-between;
    flex-basis: 40%; 
    flex-wrap: wrap;
}

.profile{
    justify-content: flex-start;
}

.profile section.profileDirectChild{
    width: 30%;
    border: 1px solid black;
}

.profileDirectChild{
    display: block;
}

.profile section.profileDirectChild ul.navbar-nav{
    display: block;
    margin: 0;

}

.profile section.profileDirectChild ul > li a{
    display: inline-block;
    width: 100%;
    font-size: 15px;
}

.profile .profileDirectChild{
    flex-basis: 25%;
}

.profile .profileDirectChild + section {
    flex-basis: 75%;
}

.profile ul{
    list-style: none; 
    width: 100%; 
}

.profile ul li {
    padding: 5px;
}

.profileDirectChild {
    background-color: rgb(249, 248, 247);
    padding: 10px;

}
.profileInfo{
    border: 1px dotted black;
    padding: 15px;
}

.cryptoButton {
    margin-right: 20px;
}

.profile nav {
    background-color: rgb(249, 248, 247);
    border: 1px gray solid;
    padding: 10px;
    border: none;
}

.profile nav p{
    font-size: 18px;
    font-weight: bold;
    color: #093d2a;
}

.profile nav strong{
    font-size: 20px;
}

.profile nav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #093d2a;
}

.iframe{
    padding: 50px;
}

.profileInfo > section + section{
    padding: 20px;
}


.mainSection{
    margin-top: 40px;
    justify-content: flex-start;
    gap: 60px;
}

.mainSection > section > h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.mainSectionFirst{
    background-color: #093d2a;
    border-radius: 10px;
    padding: 10px;
    color: #fff;

}

.mainSectionFirst img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.mainSection .mainSectionFirst{
    flex-basis: 50%;
}

.mainSection .mainSectionFirst + section{
    flex-basis: 40%;
}

.mainSection .mainSectionFirst + section h2{
    color: #093d2a;
}

.mainSectionFirst > section {
    justify-content: space-around;
}


.loansCheck{
    justify-content: flex-start;
    gap: 10px;
}

.award {
    box-shadow:  3px 5px 6px #ccc;
    padding: 20px;
    text-align: justify;
    margin-top: 20px;
}

.accountCheck{
    background-color: rgb(249, 248, 247);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    flex-basis: 45%;
}

.dropdownDiv {
    margin-top: 15px;
}

@media screen and (max-width: 480px){
    

    .mainSection {
        flex-direction: column;
    }

    .mainSectionFirst {
        height: 350px;
    }

    .profile {
        flex-direction: column;
    }

    .profile section.profileDirectChild{
        width: 100%; 
    }

    .profileDirectChild {
        flex-direction: column-reverse;
    }

    .profile section.profileDirectChild{
       
        border: none;
    }

}



/* 
***********************************************************
TRANSFER IFRAME PAGE
***********************************************************
*/
.transfer{
    width: 60%;
}


.transfer > h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 35px;
    margin-top: 10%;
}


.transferButton{
    margin: 10px auto;
    display: block;
}


.reciever{
    width: 60%;
    padding: 15px;
    margin: 20px auto;
}

/* centering all buttons to the middle */

.reciever button {
    margin: 10px auto;
    display: block;
}

.reciever > h1{
    margin-bottom: 25px;
    text-decoration: underline;
}

.reciever > h3{
    word-spacing: 7px;
    letter-spacing: 3px;
    font-size: 17px;
    margin-bottom: 15px;
}

.userNav {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
   }

.userNav div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0ac37f;
    display: inline-block;
}

.userDashboard > * {
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 480px){
   .userNav {
    display: none;
   }

   .reciever{
    width: 80%;
    
}


.transfer{
    width: 80%;
    padding: 15px;
}

.transfer > h2 {
    
    font-size: 25px;
   
}

.reciever button {
    margin: 10px auto;
    display: block;
    width: 70%;
    }
}


#navbarSupportedContent {
    position: absolute;
    right: 0;
    
}

#navbarSupportedContent > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0ac37f;
}

#navbarSupportedContent > div + strong {
    display: block;
    margin-right: 15px;
    color: crimson;
}

#frameFooter{
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    background-color: #093d2a;
}


/* 
***********************************************************
REVIEW PAGE
***********************************************************
*/

.reviewPage{
    width: 80%;
    margin: 30px auto;
}

.reviewPage h1:first-child + section{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 20%;
    gap:10px;
}

.reviewPage h1:first-child {
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.reviewPage h1:first-child + section section:first-child{
    flex-basis: 30%;    
}

.reviewPage section:first-child + section {
    flex: 60%;
    text-align: right;
    padding-right: 10px;
    margin: 0;
}

.reviewPage p{
    display: block;
    background-color:rgb(245, 243, 243);
    font-weight: bold;
    color: #093d2a;
    font-size: 20px;
    padding: 10px;
}
#sendButton {
    margin-left: 65%;
}

@media screen and (max-width: 480px){
    .reviewPage p{
        font-size: 13px;
       
    }

    .reviewPage h1:first-child + section section:first-child{
        flex-basis: 45%;    
    }

    .reviewPage section:first-child + section {
        flex-basis: 55%;
    }

    #sendButton {
        margin-left: 20%;
    }
}

/* 
***********************************************************
YES OR NO button on the comfirm transfer modal
***********************************************************
*/


.confirmButton{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* 
***********************************************************
The preloader styling
***********************************************************
*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

#preloader .loader {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}


#preloader > h3 {
    color: #093d2a;
    padding: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media screen and (max-width: 480px){
    #preloader .loader {
        top: 10%;
        left: 45%;
        
    }
}

/* 
***********************************************************
Confirm Page Styling
***********************************************************
*/

#main-content{
    margin: 5% auto;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #093d2a;
    border-radius: 10px;
    text-align: center;
}

#main-content > h1{
   text-align: center;
   text-decoration: underline;
   color: crimson;
   margin-bottom: 10px;
}

#main-content p{
    font-size: 20px;
    font-weight: bold;
}

#main-content span{
   text-transform: capitalize;
   color: #093d2a;
   font-size: 20px;
   font-weight: bold;
}

#main-content section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 /* 
***********************************************************
TRANSACTION SUMMARY ON THE DASHBOARD
***********************************************************
*/

.middleLevel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 10%;
    margin-top: 40px;
    
}

@media screen and (max-width: 480px){
    .middleLevel {
        flex-direction: column;
    }

    #main-content{
        margin: 10% auto;
        width: 80%;
        
    }
}

.transactionSummary{
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #093d2a;
    flex-basis: 50%;
    margin-bottom: 20px;
    
}


.userNav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


#transact {
    margin: 10px auto;
    display: block;
    width: 70%;
}
.transactionSummary p {
    font-weight: bold;
}

.transactionSummary + section {
    flex-basis: 40%;
    
}

.transactionSummary + section strong {
    text-align: center;
    font-size: 25px;
    color: #093d2a;
}

.transactionSummary + section strong + p{
    font-size: 17px;
    word-spacing: 2px;
}

.transactionSummary h3{
    text-align: center;
    text-decoration: underline;
}

.transactionSummary section {
    border-bottom: 2px solid #093d2a;
    padding: 10px;
    margin-bottom: 20px;
}

.transactionSummary a {
    display: block;
    margin: 10px auto;
    width: 50%;
}


@media screen and (max-width: 480px){
    .transactionSummary{
        margin-bottom: 20px;
        
    }
 }
 /* 
***********************************************************
TRANSACTION RECEIPT
***********************************************************
*/
hr {
    color: crimson;
    width: 40%;
    border: 3px solid red;
}

.singleHistory{
    width: 50%;
    margin: 50px auto;
    box-shadow:  3px 3px 3px 6px #ccc;;
    border-radius: 10px;
    padding: 20px;
}

.singleHistory > h2 {
    border-bottom: 2px solid black;
    padding: 15px;
    color: #093d2a;
    font-weight: bold;
    font-size: 20px;
}

.singleHistory h2:first-child{
    border: none;
    padding: 0;
    font-weight: bold;
    color: black;
}

.singleHistory p{
    font-size: 15px;
}
@media screen and (max-width: 480px){
    .singleHistory{
        width: 80%;
    }
 }

 /* 
***********************************************************
ALL TRANSACTIONS RECEIPT PAGE
***********************************************************
*/
.receiptRow > section{
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: 50px 40px;
    width: 40%;
}

.receiptButton {
    margin-top: 50px;
}

.clearfix h2{
    font-size: 20px;
    font-weight: bold;
}

.alert-button p{
    font-size: 20px;
    font-weight: bold;
    color: #093d2a;
}

.receiptButton span:first-child, .receiptButton span:nth-child(2) {
    background-color: cornflowerblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-bottom: 35px;
    margin-right: 10px;
}

.receiptButton span:nth-child(2) {
    background-color: red;
}

.alert-button{
    display: flex;
}




@media screen and (max-width: 480px){
    .receiptRow > section{
        width: 80%;
        margin: 20px auto;
    }
 }

 /* 
***********************************************************
    PANDEMIC PAGE
***********************************************************
*/
.pandemicInfo {
    margin-top: 100px;
}

.pandemicInfo > h2 {
    font-weight: bold;
    border-bottom: 2px solid red;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.pandemicInfo > h2 + p {
    text-align: justify;
    line-height: 2.0;
}


.registerForm {
    margin: 8% auto;
    width: 70%;
}

.registerForm form{
    margin: 5px auto;
    width: 70%;
    display: block;

}

.signupButton {
    display: block;
    margin: 10px auto;
}
.accountactions {
    display: flex;
}

.typeTransfer{
    display: flex;
    justify-content: space-around;

}



@media screen and (max-width: 480px){
    .registerForm {
        margin: 25% auto;
        width: 70%;
    }
}


 /* 
***********************************************************
    ACCOUNT PROFILE PAGE
***********************************************************
*/

.profileuser{
    display: flex;
}

.profileuser > img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.accountInfo > div  {
    background-color: #093d2a;
    color: #fff;
    padding: 5px;
   

}

.accountprofile > section > section {
    line-height: 2.0px;
}

.accountprofile > section {
    margin-left: 10px;
}

.infoprofile > section p:first-child{
    color: #3498db;
}


	/* Preloader styles */
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 9999;
    }
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /* Progress bar styles */
    /* #progress-bar {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 20px;
        border-radius: 10px;
        background-color: #f3f3f3;
        overflow: hidden;
    }
    #progress-bar-fill {
        height: 100%;
        background-color: #3498db;
        width: 0%;
        transition: width 1s ease-in-out;
        position: relative;
    }
    #progress-bar-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #3498db;
        font-weight: bold;
        font-size: 14px;
    } */

    /* Progress Bar Preloader Styling */
    #progressBarWrapper {
        width: 50%;
        height: 30px;
        background-color: #ddd;
        margin-bottom: 20px;
        margin: 20px auto;
        border-radius: 10px;
      }
      
      #progressBar {
        height: 100%;
        background-color: #007bff;
        width: 0%;
        transition: width 0.5s ease;
        text-align: center;
        line-height: 30px;
        color: #fff;
      }
      
